<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card" *ngFor="let wish of wishes">
        <div class="card-image">
          <img src="http://via.placeholder.com/350x150">
          <span class="card-title">{{wish.name}}</span>
        </div>
        <div class="card-content">
          <p>{{wish.description}}</p>
        </div>
        <div class="card-action">
          <a href="#" (click)="like(wish.id)">Like</a>
          <a href="#" (click)="dislike(wish.id)">Dislike</a>
          <a href="#" (click)="remove(wish.id)" class="right">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-tab">
  <a id="fab" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>
